
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: black;
  margin: 0;
  color: white;
  font-family: monospace;
}

h1 {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  font-family: var(--main-font);
}

input {
  font-family: var(--main-font);
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}