
/* Layout CSS */

.mainContainer {
  width: 100%;
  padding-block: 12px;
  display: flex;
}

.number {
  min-width: 48px;
  padding-inline: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  flex-grow: 1;
  width: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.accuracy {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speed {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best .number {
  min-width: 40px;
  padding-inline: 0;
}

.best .wrapper {
  gap: 2px;
}

.best .bestSpeed {
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

/* Visual CSS */

.mainContainer {
  font-size: 14px;
}

.easy {
  color: #00ff00;
}

.medium {
  color: #ffff00;
}

.hard {
  color: #ff0000;
}

.best {
  font-size: 12px;
}