
/* Layout CSS */

.mainContainer {
  flex-grow: 1;
  padding-inline: 12px;
  display: flex;
  flex-direction: column;
}

.header {
  height: 36px;
  padding-right: 12px;
  display: flex;
}

.number {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.accuracy {
  width: 60px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.speed {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreWrapper {
  flex-grow: 1;
  height: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.pagination {
  height: 48px;
  padding-block: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button {
  height: 100%;
  width: 64px;
}

.arrow {
  width: 32px;
}

.pageNumber {
  margin-inline: auto;
}

/* Visual CSS */

.header {
  color: #aab;
  font-size: 12px;
  font-weight: bold;
}

.scoreWrapper {
  border: 1px solid #aab;
  scrollbar-width: thin;
  scrollbar-color: #aab transparent;
}

.pagination {
  font-size: 12px;
}

.button {
  background-color: transparent;
  border: 1px solid #aab;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.button:hover {
  background-color: #444;
}

.pageNumber {
  color: white;
  font-weight: bold;
}