
/* Layout CSS */

.mainContainer {
  position: absolute;
  top: 72px;
  width: 120%;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.submitButton {
  width: 100%;
  height: 32px;
}

/* Visual CSS */

.mainContainer {
  background-color: #333;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.submitButton {
  background-color: #000;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.submitting {
  cursor: auto;
  background-color: #555;
  color: #aaa;
}

.errorMessage {
  color: red;
  font-size: 12px;
  line-height: 1.5;
}