
/* Layout CSS */

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  width: 100%;
  height: 32px;
  padding-inline: 8px;
}

/* Visual CSS */

.label {
  font-size: 14px;
}

.input {
  background-color: transparent;
  border: 1px solid #777;
  border-radius: 8px;
  color: white;
  font-size: 12px;
}