
/* Layout CSS */

.gameInput {
  width: 360px;
  height: 32px;
  padding: 4px 12px;
}

/* Visual CSS */

.gameInput {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 12px;
}