
/* Layout CSS */

.mainContainer {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 72px;
  height: 24px;
  padding: 0;
}

/* Visual CSS */

.button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.selected {
  text-decoration: underline;
}