
/* Layout CSS */

.mainContainer {
  flex-grow: 1;
  gap: 60px;
}

.wrapper {
  width: 100%;
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2vw;
}

.left {
  min-width: 320px;
  max-width: 320px;
  height: 540px;
}

.middle {
  min-width: 480px;
  max-width: 480px;
  min-height: 540px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right {
  min-width: 320px;
  max-width: 320px;
  min-height: 540px;
}

/* Visual CSS */

.left {
  background-color: #222;
}

.middle {
  background-color: #222;
}

.right {
  background-color: #222;
}