
/* Layout CSS */

.mainContainer {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.target {
  white-space: pre-wrap;
}

.button {
  padding: 8px 18px;
}

/* Visual CSS */

.target {
  font-family: var(--main-font);
}

.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.button:hover {
  background-color: #555;
}