
body {
  background-color: black;
}

* {
  color: white;
  font-family: monospace;
}

#genesis {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

h1 {
  margin: 0;
}

input {
  background-color: transparent;
  width: 360px;
  height: 24px;
  padding: 4px 12px;
  border: 1px solid white;
}

#target {
  white-space: pre-wrap;
}

.letter {
  box-sizing: border-box;
  display: inline;
  opacity: 50%;
}

.letter.correct {
  color: lime;
  opacity: 100%;
}

.letter.incorrect {
  color: red;
  opacity: 100%;
}

.letter.current {
  box-shadow: -2px 0px 0px 0px limegreen;
}

button {
  cursor: pointer;
  background-color: black;
  padding: 6px 18px;
  border: 1px solid white;
  font-size: 16px;
  font-weight: bolder;
}

button:hover {
  background-color: #555;
}